@page "/"
@model FCFootball.Pages.HomeModel
@{
}

<div style="max-width: 900px; margin: 0 auto; padding: 20px; text-align: center;">

    <h1>Welcome to the Franklin College Football Website!</h1>

    <p style="font-size: 1.25rem; margin-bottom: 1.5rem;">
        View the schedule, roster, and statistics of your Franklin College Grizzlies. Sco Griz!
    </p>

</div>

<img src="~/images/TeamPic.png" style="width: 100%; height: auto;" />