@page
@model FCFootball.Pages.LogInModel
@{
	var isLoggedIn = ViewContext.HttpContext.Session.GetString("LoggedIn") == "true";
}

<h1>Log In</h1>

@if (isLoggedIn)
{
	<label>Message:</label>
<label style="color: @Model.MessageColor">@Model.Message</label>
}

<form method="post">

	<table>

		<tr>
			<td><label>Email Address: </label></td>
			<td><input asp-for="EmailAddress" class="form-control" /></td>
		</tr>

		<tr>
			<td><label>Password: </label></td>
			<td><input asp-for="Password" type="password" class="form-control" /></td>
		</tr>

		<tr>
			<td><input asp-page-handler="LogIn" type="submit" class="btn btn-submit form-control w-100" value="Log In" /></td>
		</tr>

	</table>

</form>
